.navigation-tab {
  display: flex;
  justify-content: center;

	button {
		margin-top: 0.5rem;
    background-clip: padding-box;
    background-color: $primary-color;
    border: 2px solid transparent;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    width: 2.6rem;
    &:hover {
			border: 2px solid $primary-color;
			background-color: white;
			color: $primary-color;
		}
		&[disabled] {
			cursor: not-allowed;
			background-color: grey;
      color: white;
      border: 2px solid transparent;
		}
	}

  p {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 2rem;
  }
}
